@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');

* {
 padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  font-family: 'besley',serif;
}

*::selection{
color:white;
background:blue  
}

body{
  background:black;
  color: #fff;
}
